@charset "UTF-8";

@media screen and (min-width:768px) and (max-width:992px) {

    body {
        background-image: linear-gradient(to top, #59eb28e2, #50A035);
    }

    #login {
        width: 80vw;
        height: 280px;
    }

    #login>#imagem {
        float: left;
        width: 40%;
        height: 100%;
    }

    #login>#formulario {
        float: right;
        width: 60%;
    }
}

@media screen and (min-width:992px) {
    body {
        background-image: linear-gradient(to top, #59eb28e2, #50A035);
    }

    #login {
        width: 80vw;
        height: 350px;
    }

    #login>#imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    #login>#formulario {
        float: left;
        width: 50%;
    }

    #login>#formulario>h1 {
        font-size: 2em;
    }

    #login>#formulario>p {
        font-size: 1em;
        margin: 20px 0px;
    }
    

}